@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.otf') format('truetype');
}

@font-face {
    font-family: 'HelveticaLTStd-Light';
    src: url('../fonts/HelveticaLTStd-Light.otf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

body,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'HelveticaLTStd-Light', sans-seriff;
    background-color: #FAFAFF;
}

header {
    font-family: 'Helvetica', sans-seriff;
    background-color: #1e1e1e;
    color: #FAFAFF;
    padding: 20px;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 30px;
    text-decoration: none;
    color: #FAFAFF;
    font-weight: bold;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #FAFAFF;
    font-size: 20px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #FF6150;
}

.main {
    margin: 7vh;
}

#Introduccion {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.proyecto-games {
    margin-left: 40vh;
    margin-right: 40vh;
    display: flex;
    flex direction: row;
    align-items: center;
}

.multimedia-proyecto-games{
    transition: transform 0.3s ease;
}

.multimedia-proyecto-games:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.texto-proyecto-games {
    margin: 3vh;
}

.proyectos-music {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden
}

.proyecto-music {
    position: relative;
    width: 22%;
    margin: 1vh;
    transition: transform 0.3s ease;
}

.proyecto-music:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.proyecto-music-img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.proyecto-music-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.proyecto-music-text {
    color: #FAFAFF;
}

.proyecto-music-panel:hover {
    opacity: 1;
}

.contact-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

